<!DOCTYPE html>
<html lang="en">

<%- include('./components/head.ejs') %>

  <body>
    <%- include('./components/navbar.ejs') %>
      <div class="container">
        <h3>About Page</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam officiis quas incidunt minus unde suscipit
          facilis expedita omnis! Expedita vero enim perspiciatis ipsam facilis adipisci voluptatum veniam velit sunt
          ut?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam officiis quas incidunt minus unde suscipit
          facilis expedita omnis! Expedita vero enim perspiciatis ipsam facilis adipisci voluptatum veniam velit sunt
          ut?</p>
      </div>
  </body>

</html>