<!DOCTYPE html>
<html lang="en">

<%- include('./components/head.ejs') %>

  <body>

    <%- include('./components/navbar.ejs') %>

      <div class="container">
        <% if(blogs.length) { %>
          <% blogs.forEach(blog=> { %>
            <div class="blog-card">
              <h1>
                <%= blog.title %>
              </h1>
              <p>
                <%= blog.intro %>
              </p>
            </div>
            <% }) %>
              <% } else { %>
                <h3>No Blogs Found.</h3>
                <% } %>
      </div>
  </body>

</html>